body {
    font-family: Arial, Helvetica, sans-serif; /*글씨체 후보*/
    text-align: center;
}

hr {
    width: 500px; /*가로선 길이*/
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px; /*글자 간 간격*/
}

#board {
    width: 350px;
    height: 400px;
    margin: 0 auto; /*가운데 정렬*/
    margin-top: 3px; 
    display: flex; /*유연하게 배치*/
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center; /*가로 중앙 정렬*/
    align-items: center; /*세로 중앙 정렬*/
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}

.keyboard-row{
    width: 400px;
    margin :0 auto; /*중앙 정렬*/
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
/* Box */
border: 1px solid lightgray;
width: 34px;
height: 40px;
margin: 1px;

/* Text */
font-size: 20px;
font-weight: bold;
display: flex;
justify-content: center; /*가로 중앙 정렬*/
align-items: center; /*세로 중앙 정렬*/ 
}

.enter-key-tile {
    /* Box */
    border: 1px solid lightgray;
    width: 76px;
    height: 40px;
    margin: 1px;
    
    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center; /*가로 중앙 정렬*/
    align-items: center; /*세로 중앙 정렬*/ 
    }